In [1]:
 # Required libraries
import numpy as np
import pandas as pd
import string as st

In [3]:
# Code for defining BALANCE SHEET as DataFrame
df = pd.read_excel("/home/ismetovic/Documents/GitHub/firms/data/all/ALL_BS_TOTAL.xlsx")
# Code for changing index as Sector Name
df.index =np.repeat(df.iloc[0,0],len(df.index))
# Enumareting the first column for ease
df.loc[:,df.columns[0]]=list(np.arange(1, len(df.index)+1))
# Getting rid of th NaN values
df=df.dropna()
# Renumareting the first column
df.loc[:,df.columns[0]]=list(np.arange(1, len(df.index)+1))
# Code for defining INCOME STATEMENT as DataFrame
df1 = pd.read_excel("/home/ismetovic/Documents/GitHub/firms/data/all/ALL_IS_TOTAL.xlsx")
# Code for changing index as Sector Name
df1.index =np.repeat(df1.iloc[0,0],len(df1.index))
# Enumareting the first column for ease
df1.loc[:,df1.columns[0]]=list(np.arange(1, len(df1.index)+1))
# Getting rid of th NaN values 
df1=df1.dropna()
# Renumareting the first column
df1.loc[:,df1.columns[0]]=list(np.arange(1, len(df1.index)+1))
# Row binding the two DataFrames
df=df.append(pd.DataFrame(data=df1),ignore_index=False)
# Renumareting the first column
df.loc[:,df.columns[0]]=list(np.arange(1, len(df.index)+1))

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
ALL COMPANIES,1,ASSETS,2.009000e+03,2.010000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2.018000e+03,2.019000e+03,2.020000e+03
ALL COMPANIES,2,I-CURRENT ASSETS,9.726163e+08,1.139184e+09,1.355095e+09,1.547732e+09,1.884759e+09,2.171822e+09,2.569077e+09,3.010816e+09,3.666886e+09,4.427019e+09,5.082138e+09,6.380277e+09
ALL COMPANIES,3,A-Liquid Assets,1.580241e+08,2.006198e+08,2.215649e+08,2.482981e+08,3.101290e+08,3.488006e+08,4.030543e+08,4.634494e+08,5.595128e+08,6.508912e+08,8.314571e+08,1.159188e+09
ALL COMPANIES,4,1- Cash,1.965633e+07,2.971934e+07,2.270828e+07,2.751568e+07,2.954975e+07,2.994867e+07,3.660004e+07,3.642509e+07,4.565544e+07,4.640730e+07,5.332604e+07,7.085007e+07
ALL COMPANIES,5,2- Checks Received,3.339060e+07,4.169124e+07,5.809702e+07,6.744999e+07,8.162227e+07,9.614031e+07,1.113161e+08,1.177631e+08,1.403217e+08,1.472754e+08,1.490833e+08,1.798171e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ALL COMPANIES,287,3-Other Extraordinary Expenses (-),1.159674e+07,1.366092e+07,5.364233e+07,1.664635e+07,2.455621e+07,3.392718e+07,2.298403e+07,5.062427e+07,3.233622e+07,6.177371e+07,4.958331e+07,6.161788e+07
ALL COMPANIES,288,PROFIT OR LOSS BEFORE TAXES,6.580389e+07,8.493656e+07,4.440254e+07,1.077843e+08,7.975921e+07,1.063072e+08,1.169596e+08,9.554059e+07,2.022262e+08,1.362778e+08,3.080267e+08,3.024080e+08
ALL COMPANIES,289,K-PROVISIONS FOR INC.TAX & OTH.LIAB.TO GOV.,1.230049e+07,1.638894e+07,1.848065e+07,1.991205e+07,2.158978e+07,2.366795e+07,2.747840e+07,2.958056e+07,3.775005e+07,5.331007e+07,5.805704e+07,8.076009e+07
ALL COMPANIES,290,NET PROFIT OR LOSS FOR THE FINANCIAL YEAR,5.350340e+07,6.854762e+07,2.592189e+07,8.787226e+07,5.816942e+07,8.263922e+07,8.948124e+07,6.596003e+07,1.644762e+08,8.296775e+07,2.499697e+08,2.216479e+08
ALL COMPANIES,291,Number of Companies,5.579250e+05,5.796830e+05,6.003540e+05,6.033900e+05,6.127040e+05,6.284740e+05,6.551790e+05,6.820040e+05,7.215030e+05,7.643800e+05,8.050830e+05,8.603820e+05

In [4]:
# Creating a key for loops
key_file=st.ascii_uppercase
key_file=key_file[0:10]+key_file[11:14]+key_file[15:19]

In [5]:
# Defining DataFrame for Each Sector's BALANCE SHEET
for i in range(0, len(key_file)):
    vars()["df_"+key_file[i]] = pd.read_excel("/home/ismetovic/Documents/GitHub/firms/data/balance_sheet/1digit/total/"+key_file[i]+"_BS_TOTAL.xlsx")
# Defining DataFrame for Each Sector's INCOME STATEMENT
for i in range(0, len(key_file)):
    vars()["df_1"+key_file[i]] = pd.read_excel("/home/ismetovic/Documents/GitHub/firms/data/income_statement/1digit/total/"+key_file[i]+"_IS_TOTAL.xlsx")

In [6]:
# Manipulating Each Sector's DataFrames
for i in range(0, len(key_file)):
    vars()["df_"+key_file[i]].index =np.repeat(vars()["df_"+key_file[i]].iloc[0,0],len(vars()["df_"+key_file[i]]))
    vars()["df_"+key_file[i]].loc[:,vars()["df_"+key_file[i]].columns[0]]=list(np.arange(1, len(vars()["df_"+key_file[i]].index)+1))
    vars()["df_"+key_file[i]]=vars()["df_"+key_file[i]].dropna()
    vars()["df_1"+key_file[i]].index =np.repeat(vars()["df_1"+key_file[i]].iloc[0,0],len(vars()["df_1"+key_file[i]]))
    vars()["df_1"+key_file[i]].loc[:,vars()["df_1"+key_file[i]].columns[0]]=list(np.arange(1, len(vars()["df_1"+key_file[i]].index)+1))
    vars()["df_1"+key_file[i]]=vars()["df_1"+key_file[i]].dropna()
    vars()["df_1"+key_file[i]].loc[:,vars()["df_1"+key_file[i]].columns[0]]=list(np.arange(1, len(vars()["df_1"+key_file[i]].index)+1))
    vars()["df_"+key_file[i]]=vars()["df_"+key_file[i]].append(pd.DataFrame(data=vars()["df_1"+key_file[i]]),ignore_index=False)
    vars()["df_"+key_file[i]].loc[:,vars()["df_"+key_file[i]].columns[0]]=list(np.arange(1, len(vars()["df_"+key_file[i]].index)+1))

In [7]:
# Merging all DataFrames
for i in range(0, len(key_file)):
    df= df.append(pd.DataFrame(data=vars()["df_"+key_file[i]]),ignore_index=False)
# Renaming columns
df.columns = ["n","code",2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020]

In [8]:
# Saving it as excel
df.to_excel("/df.xlsx", sheet_name = "Sheet1")