In [155]:
 # Required libraries
import numpy as np
import pandas as pd
import string as st

In [156]:
# Main DataFrame for manipulatiion
datum = pd.read_excel("/home/ismetovic/Documents/GitHub/firms/df.xlsx")
datum.index = list(datum.iloc[:,0])
datum = datum.iloc[58:]

In [157]:
#Defining key for selected columns
key_column =  list(range(3,14))
#Defining key for selected variables
x1 = 257
x2 = 246
#Defining key for selected rows
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
# DataFrame division for finding the indicator
op=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
# Naming the indicator
op["code"]="Operational Profit to Net Sales"

In [158]:

key_column =  list(range(3,14))
x1 = 258
x3 = 269
x2 = 246
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
key_row_3 = list(range(0,len(datum.loc[datum["n"]==x3])))
nop=(datum.loc[datum["n"]==x1].iloc[key_row,key_column]-datum.loc[datum["n"]==x3].iloc[key_row_3,key_column]).div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100

nop["code"]="Net Income From Other Operations to Net Sales"

In [159]:
key_column =  list(range(3,14))
x1 = 281
x3 = 284
x2 = 246
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
key_row_3 = list(range(0,len(datum.loc[datum["n"]==x3])))
nep=(datum.loc[datum["n"]==x1].iloc[key_row,key_column]-datum.loc[datum["n"]==x3].iloc[key_row_3,key_column]).div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100

nep["code"] ="Net Extraordinary Income to Net Sales"

In [160]:
key_column =  list(range(3,14))
x1 = 277
x2 = 288
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
ebit=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column]+datum.loc[datum["n"]==x1].iloc[key_row,key_column])*100
ebit["code"] ="Financial Expenses to EBIT"

In [161]:
key_column =  list(range(3,14))
x1 = 288
x2 = 246
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
p=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
p["code"] = "Profit to Net Sales"

In [162]:
key_column =  list(range(3,14))
x1 = 290
x2 = 246
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
nnp=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
nnp["code"] = "Net Profit to Net Sales"

In [163]:
key_column =  list(range(3,14))
x1 = 2
x3= 33
x4= 45
x5= 48
x2 = 126
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
key_row_3 = list(range(0,len(datum.loc[datum["n"]==x3])))
key_row_4 = list(range(0,len(datum.loc[datum["n"]==x4])))
key_row_5 = list(range(0,len(datum.loc[datum["n"]==x5])))
acid=(datum.loc[datum["n"]==x1].iloc[key_row,key_column]-datum.loc[datum["n"]==x3].iloc[key_row_3,key_column]-datum.loc[datum["n"]==x4].iloc[key_row_4,key_column]-datum.loc[datum["n"]==x5].iloc[key_row_5,key_column]).div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
acid["code"] = "Acid Test Ratio"

In [164]:
key_column =  list(range(3,14))
x1 = 126
x2 = 2
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
cur=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100

cur["code"] = "Short-Term Liabilities to Current Assets"

In [165]:
key_column =  list(range(3,14))
x1 = 177
x2 = 236
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
ltfl=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
ltfl["code"] = "Long-Term Financial Liabilities to Total Liabilities"

In [166]:
key_column =  list(range(3,14))
x1 = 185
x3 = 191
x2 = 236
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
key_row_3 = list(range(0,len(datum.loc[datum["n"]==x3])))
ltol=(datum.loc[datum["n"]==x1].iloc[key_row,key_column]+datum.loc[datum["n"]==x3].iloc[key_row_3,key_column]).div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
ltol["code"] = "Long-Term Trade and Other Liabilities to Total Liabilities"

In [167]:
key_column =  list(range(3,14))
x1 = 176
x2 = 236
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
ltl=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
ltl["code"] = "Long-Term Liabilities to Total Liabilities"

In [168]:
key_column =  list(range(3,14))
x1 = 127
x2 = 236
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
stfl=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
stfl["code"] = "Short-Term Financial Liabilities to Total Liabilities"

In [169]:
key_column =  list(range(3,14))
x1 = 137
x3 = 143
x2 = 236
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
key_row_3 = list(range(0,len(datum.loc[datum["n"]==x3])))
stol=(datum.loc[datum["n"]==x1].iloc[key_row,key_column]+datum.loc[datum["n"]==x3].iloc[key_row_3,key_column]).div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
stol["code"] = "Short-Term Trade and Other Liabilities to Total Liabilities"

In [170]:
key_column =  list(range(3,14))
x1 = 126
x2 = 236
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
stl=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
stl["code"] = "Short-Term Liabilities to Total Liabilities"

In [171]:
tfl =ltfl+stfl
tfl["code"] = "Total Financial Liabilities to Total Liabilities"

In [172]:
tol = stol+ltol
tol["code"] = "Total Trade and Other Liabilities to Total Liabilities"

In [173]:
tl=tfl+tol
tl["code"] = "Liabilities to Total Liabilities"

In [174]:
key_column =  list(range(3,14))
x1 = 211
x2 = 236
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
equ=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100

equ["code"] = "Shareholders Equity to Total Liabilities"

In [175]:
# Key for appending
key_appender = ["op","nop","nep","ebit","p","nnp","acid","cur","ltfl","ltol","ltl","stfl","stol","stl","tfl","tol","tl","equ"]
# Empty DataFrame
datum1 = pd.DataFrame()
 # Merging all DataFrames
for i in range(0, len(key_appender)):
    datum1= datum1.append(pd.DataFrame(data=vars()[key_appender[i]]),ignore_index=False)

In [176]:
# Adding Sizes
datum1["type"] = "Total"

In [177]:
# Changing index
a=pd.DataFrame(datum1.index)
for i in range(0,len(a.index)):
    a.iloc[i,0] = a.iloc[i,0][0]
datum1.index = a.loc[:,0]

In [178]:
 # Saving it as excel
datum1.to_excel("datum.xlsx", sheet_name = "Sheet1")